.header__cart {
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* padding-bottom: 2px; */
    /* justify-content: baseline; */
}

.cart__count {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 800;
    color: #F08804;
}


@media screen and (max-width: 425px) {
    .header__nav {
        background-color:  #131921;
        margin-right: 1px;
        height: 70px;

    }

    .cart__count {
        font-size: 15px;
    }
}
